<?xml version="1.0"?>

<robot name="zeabus" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="PI" value="3.14159265359"/>

    <!-- base link use to centor in normal real world -->       
    <!-- link use instead robot stl use to look easy to watch -->
 
    <!-- Warning paramter RPY for rotation input is order roll pitch yaw -->
    <!-- but in real transformation will use about play rotation order is yaw pitch roll-->

    <link name="base_link"/>

    <!-- About sensor part imu -->
    <link name="sensor_imu"/>
    <link name="sensor_imu_NED"/>

    <joint name="base_link_to_sensor_imu" type="fixed">
        <origin xyz="0.16 0 0" rpy="0 0 ${-PI}"/>
        <parent link="base_link"/>
        <child link="sensor_imu"/>
    </joint>
    <joint name="sensor_imu_to_sensor_imu_NED" type="fixed">
        <origin xyz="0 0 0" rpy="${PI} 0 ${PI/2}"/>
        <parent link="sensor_imu"/>
        <child link="sensor_imu_NED"/>
    </joint>

    <!-- About sensor part pressure -->
    <link name="sensor_pressure"/>
    <joint name="base_link_to_sensor_pressure" type="fixed">
        <origin xyz="-0.55 0 0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="sensor_pressure"/>
    </joint>

    <!-- About sensor part bottom_camera -->
    <link name="bottom_camera"/>
    <link name="bottom_camera_optical"/>
 
    <joint name="base_link_bottom_camera" type="fixed">
        <origin xyz="0.26 0 0" rpy="0 ${PI / 2 } 0"/>
        <parent link="base_link"/>
        <child link="bottom_camera"/>
    </joint>
 
    <joint name="bottom_camera_to_optical_frame" type="fixed">
        <origin xyz="0 0 0" rpy="${PI / 2} 0 ${ PI / -2}"/>
        <parent link="bottom_camera"/>
        <child link="bottom_camera_optical"/>
    </joint>
 
    <!-- About sensor part front_camera -->
    <link name="front_camera"/>
    <link name="front_camera_optical"/>
 
    <joint name="base_link_front_camera" type="fixed">
        <origin xyz="0.43 0 0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="front_camera"/>
    </joint>
 
    <joint name="front_camera_to_optical_frame" type="fixed">
        <origin xyz="0 0 0" rpy="${PI / 2} 0 ${ PI / -2}"/>
        <parent link="front_camera"/>
        <child link="front_camera_optical"/>
    </joint>

</robot>
