<?xml version="1.0"?>

<launch>

    <arg name="node_name" value="zeabus"/>
    <arg name="model_file" value="$(find zeabus_model)/urdef/zeabus.urdf"/>

    <include file="$(find zeabus_model)/launch/draw_model.launch.xml">
 
        <arg name="node_name" value="$(arg node_name)"/>
        <arg name="model_file" value="$(arg model_file)"/>
 
    </include>
 
</launch>
